.London,
.Munich,
.New-York,
.Rio {
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
}

.input-field {
  text-align: center;
}

.search-button {
  background-color: rgba(9, 75, 188, 0.909);
  border: #fff;
  border-radius: 50px;
  color: #fff;
}

.weather-app {
  border: 2px solid #7b7974;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 20px;
}

h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: sans-serif;
  text-align: left;
  padding-left: 30px;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
  text-align: left;
  padding-left: 30px;
}
h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: sans-serif;
  text-align: left;
  padding-left: 30px;
}

ul {
  list-style: none;
}

.degree {
  font-size: 50px;
  font-weight: 700;
  font-family: sans-serif;
  text-align: left;
  position: relative;
  left: -100px;
  top: -10px;
}

.celsius {
  font-size: 50px;
  font-weight: 700;
  font-family: sans-serif;
}

.fahrenheit {
  font-size: 15px;
  font-weight: 700;
  font-family: sans-serif;
}

.current-other-info {
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
  text-align: left;
  position: relative;
}

h6 {
  font-family: sans-serif;
}
